.App-logo-container {
  display: flex;
}
 
.App-logo {
  height: 20vmin;
  pointer-events: none;
}
 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
 
  /*pego todos os elementos logos e os pares dou um reverse*/
  .App-logo:nth-child(even) {
    animation-direction: reverse;
  }
}